body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/*
 * Formatting the header area
 */
header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Formatting the footer area
 */
footer {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
footer h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Centering the body content
 */
.container {
  width: 1300px;
  margin: 0 auto;
  padding-left: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
div.home {
  padding: 10px 0 30px 0;
  // background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.about {
  padding: 10px 0 30px 0;
  // background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
div.error {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

.menu {
  float: right;
  margin-top: 8px;
}
.menu li {
  display: inline;
}
.menu li + li {
  margin-left: 35px;
}
.menu li a {
  color: #444;
  text-decoration: none;
}

/*
 * Robot box
 */
div.robot_box_black {
    float:left;
    display:block;
    width:250px;
    height:250px;
    color: white;
    background-color: #222222;
    margin: 10px;
    padding: 5px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
           border-radius: 6px;
}
div.robot_box_red {
    float:left;
    display:block;
    width:250px;
    height:250px;
    background-color: #ff9999;
    margin: 10px;
    padding: 5px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
           border-radius: 6px;
}
div.robot_box_green {
    float:left;
    display:block;
    width:250px;
    height:250px;
    background-color: #b3ffcc;
    margin: 10px;
    padding: 5px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
           border-radius: 6px;
}
div.robot_box_blue {
    float:left;
    display:block;
    width:250px;
    height:250px;
    background-color: #2596be;
    margin: 10px;
    padding: 5px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
           border-radius: 6px;
}
div.robot_box_yellow {
    float:left;
    display:block;
    width:250px;
    height:250px;
    background-color: #ffff99;
    margin: 10px;
    padding: 5px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
           border-radius: 6px;
}
div.robot_box_grey {
    float:left;
    display:block;
    width:250px;
    height:250px;
    background-color: #ebebeb;
    margin: 10px;
    padding: 5px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
           border-radius: 6px;
}

div img {
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
 /*
.robot_list {
  width: 1300px;
  margin: 0 auto;
}
.robot_box {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.robot_box li + li {
  margin-left: 35px;
}
.robot_box li a {
  color: #444;
  text-decoration: none;
}
*/
/*.robot_box li {
  // display: inline;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}*/
