<!DOCTYPE html>
    {% extends "layout.html" %}
    {% block content %}
        <div class="mes">
            <h1>Stato macchinari</h1>

            {% for div in div_boxes %}
                {% if div %}
                    <div class="robot_box_{{div.color}}" string="Prova">
                        <b>{{div.robot.name.upper()|safe}}</b><br/>
                        <b>Cat.</b> {{div.robot.category_id.name|safe}}<br/>
                        <b>Stato</b> {{div.robot.state|safe}}<br/>
                        <b>Job:</b> {{div.job|safe}}<br/>
                        <b>Cambio stato:</b> {{div.robot.last_activity_state or ''|safe}}<br/>
                        <b>Ultima attivit&agrave;:</b> {{div.robot.last_log_id or ''|safe}}<br/>
                        <img src="/static/img/{{div.robot.id}}.jpg" title="{{'{} [{}]'.format(div.robot.name, div.robot.host_ip)|safe}}" width="150px">
                    </div>
                {% else %}
                    <div style="clear:both;"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}

