<!DOCTYPE html>
    {% extends "layout.html" %}
    {% block content %}
        <div class="mes">
            <h1>Stato macchinari</h1>

            {% for div in div_boxes %}
                {% if div %}
                    <div class="robot_box_{{div.color}}">
                        <b>{{div.robot.name.upper()|safe}}</b><br/>
                        <b>Stato</b> {{div.state.upper()|safe}}<br/>
                        <b>Job:</b> {{div.job|safe}}<br/>
                        <b>Categoria:</b> {{div.robot.category_id.name|safe}}<br/>
                        <b>Cambio stato:</b> {{parser_write_hour(div.robot.last_activity_state)|safe}}<br/>
                        <!--<span class="tooltip"><b>Ultima attivit&agrave;</b> {{parser_write_hour(div.robot.opcua_id.working_command_id.last_change) if div.robot.opcua_id and div.robot.opcua_id.working_command_id else 'Non controllata!'|safe}}<br/> -->
                        <span class="tooltip"><b>Ultima attivit&agrave;</b> {{div.last_activity|safe}}<br/><!--Still in GMT!-->
                           {% if div.robot.last_activity_second > 0 %}
                                <span class="tooltiptext">Va in pausa se passa {{div.robot.last_activity_second}} sec.</span>
                           {% endif %}
                        </span>
                        <img src="/static/img/{{div.robot.id}}.jpg" title="{{'{} [{}]\nStato OPCUA: {}'.format(div.robot.name, div.robot.host_ip, div.robot.opcua_state or '/')|safe}}" width="150px">
                        <!--Try: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_tooltip -->
                    </div>
                {% else %}
                    <div style="clear:both;"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}

