<!DOCTYPE html>
    {% extends "layout.html" %}
    {% block content %}
        <div class="mes">
            <h1>Macchinari attivi</h1>

            {% for div in div_boxes %}
                {% if div %}
                    <div class="robot_box_{{div.color}}">
                        <b>{{robot.name|safe}}</b><br/>
                        <b>Cat.</b> {{robot.category_id.name|safe}}<br/>
                        <b>Job:</b> {{div.job|safe}}<br/>
                        <b>Last:</b> {{div.robot.last_log_id|safe}}<br/>
                    </div>
                {% endif %}
                {% if not div %}
                    <div style="clear:both;"></div>
                {% endif %}
            {%endfor%}
        </div>
    {% endblock %}

